body {
     margin-top: 0;
     margin-bottom: 20px;
     padding: 0;
}

.divide-line {
     width: 100%;
     height: 15px;
     background-color: #7662a1;
     margin: 0;
}

/*styling for navbar*/
.navbar {
     padding-top: 5;
     padding-bottom: 5;
}

.navbar-brand {
     margin: 0;
     padding: 0;
}

.w-15 {
     width: 15% !important;
}

.navbar-nav.hover-highlight .nav-link {
     border-radius: 10px;
     transition: background-color 0.4s ease;
}

.hover-highlight .nav-link:hover {
     background-color: #7662a1;
}

@media (max-width: 992) {
     .hover-highlight .nav-link {
          width: auto;
     }
}

.navbar-nav.ms-auto .nav-link {
     position: relative;
}

@media (max-width: 992) {
     .naxbar-nav.ms.auto .nav-link {
          width: auto;
     }
}

.navbar-nav.ms-auto .nav-link::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0;
     height: 2px;
     background-color: #7662a1;
}

.navbar-nav.ms-auto .nav-link:hover::after {
     width: 100%;
}


.btn-custom {
     background-color: #8cc451;
     color: #212529;
}

.btn-custom:hover {
     background-color: #6fa33e;
     color: #212529;
}

.btn-custom:disabled,
.btn-custom.disabled {
     background-color: #8cc451;
     opacity: 0.65;
     pointer-events: none;
}

.carousel {
     margin-bottom: 0;
}

/*styling for carousel*/
.carousel-item {
     height: 500px;
}

.carousel-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.carousel-caption {
     background-color: rgba(0, 0, 0, 0.55);
     padding: 20px;
     border-radius: 10px;
}

/*styling for hero cards*/
.hero-card {
     transition: transform 0.4s ease;
     border: none;
     overflow: hidden;
}

.hero-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.hero-card .card-img-top {
     width: 50%;
     height: auto;
     margin: auto;
}

.hero-card:has(button[aria-expanded="true"]) {
     filter: brightness(0.8);
     transition: filter 0.4s ease;
}

/*styling for row 4 accordion*/
.accordion-collapse {
     transition: height 0.4s ease;
}

.accordion-item {
     font-size: 20px;
     padding-left: 20px;
     padding-right: 20px;
}