div.textbox {
     max-width: 65%;
     margin: 60px auto;
     padding: 40px;
     border: 20px black;
     background: white;
     box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

.textbox h1 {
text-align: center;
}

.textbox p {
     font-size: 1rem;
}